{% extends "base.html" %}
{% block content %}

<h2>Add Laptop</h2>

<form method="POST">
<input name="asset_tag" placeholder="Asset Tag" required>
<input name="serial_number" placeholder="Serial Number" required>
<input name="brand" placeholder="Brand">
<input name="model" placeholder="Model">
<input name="department" placeholder="Department">
<input name="assigned_to" placeholder="Assigned To">

<select name="status">
<option>Active</option>
<option>Faulty</option>
<option>Retired</option>
</select>

<input type="date" name="purchase_date">
<input type="date" name="warranty_expiry">

<button type="submit">Save</button>
</form>

{% endblock %}